{
    "env":{
      "browser": true,
      "es6":true,
      "node":true
    },
    "extends": "airbnb",
    "rules":{
      "no-tabs":"off",
      "no-alert":"off",
      "indent": ["off","tab"],
      "linebreak-style": ["error", "windows"],
      "react/prefer-stateless-function": "off",
      "react/jsx-props-no-spreading": "off",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/prop-types": "off"
    }
  }
  